.TodoList {
    padding: 1.5em;
    display: flex;

    .card {
        width: 400px;
        height: 300px;
    }

    .card-new {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12em;
    }
}