.TodoList {
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;

    .card {
        min-width: 250px;
        height: 175px;
    }

    .card-new {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6em;
    }
}