.TodoList {
    padding: 1.5em;
    display: flex;
    // flex-wrap: wrap;
    
    .TodoList-category {
        margin: 0.25em;
        min-width: 300px;
        max-width: 300px;
    }

    .TodoList-item {
        margin: 0.15em;
    }

    .TodoList-add-item {
        width: 100%;
        text-align: inherit;
    }

    .TodoList-new-form {
        width: 100%;
    }

    .card-new {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6em;
    }
}